{% block background %}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title> Bash BLog </title>
        
         <link rel="stylesheet" type="text/css" href="/static/blog/index.css" />

        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />


        <link rel="shortcut icon" href="images/favicon.png">
        <title>POLO | The Multi-Purpose HTML5 Template</title>

        <!-- Bootstrap Core CSS -->
        <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/vendor/fontawesome/css/font-awesome.min.css" type="text/css" rel="stylesheet">
        <link href="/static/vendor/animateit/animate.min.css" rel="stylesheet">

        <!-- Vendor css -->
        <link href="/static/vendor/owlcarousel/owl.carousel.css" rel="stylesheet">
        <link href="/static/vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

        <!-- Template base -->
        


        <!-- Template elements -->
        <link href="/static/css/theme-elements.css" rel="stylesheet">

        <!-- Responsive classes -->
        <link href="/static/css/responsive.css" rel="stylesheet">

        <!-- Template color -->
        <link href="/static/css/color-variations/blue.css" rel="stylesheet" type="text/css" media="screen" title="blue">

        <!-- LOAD GOOGLE FONTS -->
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,800,700,600%7CRaleway:100,300,600,700,800" rel="stylesheet" type="text/css" />

        <!-- BLOG FONT & STYLE -->
        <link href="http://fonts.googleapis.com/css?family=Damion" rel="stylesheet" type="text/css">
        <link href="/static/homepages/blog/css/style-blog.css" media="screen" rel="stylesheet" type="text/css" />

        <!--VENDOR SCRIPT-->
        <script src="/static/vendor/jquery/jquery-1.11.2.min.js"></script>
        <script src="/static/vendor/plugins-compressed.js"></script>

    </head>

    </head>
        
<body class="wide">
	<!--SITE LOADER-->
	<div class="loader-wrapper">
        
	</div>
	<!--END: SITE LOADER-->

	<!--WRAPPER-->
	<div class="wrapper">
		<!--HEADER-->
		<header id="header" class="header-mini header-dark">
			<div id="header-wrap">
				<div class="container">

					<!--LOGO-->
					<div id="logo">
                        <a href="/" data-dark-logo="/static/images/logo-dark.png" class="logo" > <img src="/static/images/logo.png" alt="Polo Logo"> </a>
					</div>
					<!--END: LOGO-->

					<!--MOBILE MENU -->
					<div class="nav-main-menu-responsive">
						<button class="lines-button x">
							<span class="lines"></span>
						</button>
					</div>
					<!--END: MOBILE MENU -->


					<!--NAVIGATION-->
					<div class="navbar-collapse collapse main-menu-collapse navigation-wrap">
						<div class="container">
							<nav class="main-menu mega-menu" id="mainMenu">
								<ul class="main-menu nav nav-pills">
									<li><a href="index.html"><i class="fa fa-home"></i></a> </li>
									<li class="dropdown"> <a href="#">About </a> </li>
									<li class="dropdown"> <a href="#">Blog</a> </li>
									<li class="dropdown"> <a href="#">Contact</a> </li>
								</ul>
							</nav>
						</div>
					</div>
					<!--END: NAVIGATION-->
				</div>
			</div>
		</header>
		<!--END: HEADER-->

<!-- SLIDER OWL -->

<!-- END: SLIDER OWL -->

{% block content %}
{% endblock content %}


<!-- FOOTER -->
<footer class="background-dark text-grey" id="footer">
	<div class="copyright-content">
		<div class="container">
			<div class="row">
				<div class="copyright-text text-center">&copy; Junior Hacker 51 </div>
			</div>
		</div>
	</div>
</footer>
<!-- END: FOOTER -->
	</div>
	<!-- END: WRAPPER -->

	<!-- GO TOP BUTTON -->
	<a class="gototop gototop-button" href="#"><i class="fa fa-chevron-up"></i></a>

	<!-- Theme Base, Components and Settings -->
    <script src="/static/js/theme-functions.js"></script>

	<!-- Custom js file -->
    <script src="/static/js/custom.js"></script>
</body>

</html>

{% endblock background %}