{% extends 'base.html' %}

<!-- <head>
    <title>index</title>
    <link rel="stylesheet" type="text/css" href="/static/blog/index.css" >
</head> -->

{% block content %}

<!-- CONTENT -->
<section class="p-t-40">
	<div class="container">
		<div class="row">

			{% for bl in blogs %}
			<!-- Blog post-->
			<div class="post-content post-thumbnail col-md-9">
				<!-- Blog image post-->
                
				<div class="post-item">
					<div class="post-image">
						<a href="#">
                            <img alt="" src="/static/images/blog/thumb/6.jpg">
						</a>
					</div>
					<div class="post-content-details">
						<div class="post-title">
                            <h3><a href="{% url 'blog:detail-blog' title=bl.title %}">Post 1</a></h3>
						</div>
						<div class="post-info">
                            <span class="post-autor">Post by: {{ bl.authors.all }}<a href="{% url 'blog:detail-blog' title=bl.title %}"></a></span>
                            <span class="post-category"> in: <a href="{% url 'blog:detail-blog' title=bl.title %}"></a></span>
						</div>
						<div class="post-description">
                            <p> {{ bl.title }}</p>

							<div class="post-read-more">
                                <a class="read-more" href="{% url 'blog:detail-blog' title=bl.title %}">read more <i class="fa fa-long-arrow-right"></i></a>
							</div>
						</div>
					</div>

					<div class="post-meta">
						<div class="post-date">
                            <span class="post-date-day"> {{bl.created_at}} </span>
						</div>

						<div class="post-comments">
							<a href="#">
								<i class="fa fa-comments-o"></i>
                                <span class="post-comments-number">2</span>
							</a>
						</div>
					</div>
				</div>
                
			</div>
			<!-- END: Blog post-->
			{% endfor %}


			<!-- Sidebar-->
            

			</div>
			<!-- END: Sidebar-->

		</div>
	</div>
</section>
<!-- END: SECTION -->

{% endblock content %}